In [1]:
import load
from tree import tmtree
import numpy as np
import utils.sampling as smp
import tree.halomodule as hmo 

# Load simulation data and halo (tree later)

wdir = '/home/hoseung/Work/data/05427/'
nout = 187
info = load.info.Info(nout=nout, base=wdir, load=True)
#hgal = hmo.Halo(base=wdir, nout=nout, halofinder='HM', info=info, load=True, is_gal=True)

In [18]:
from load.utils import skip_fortran, read_fortran
fn = "/home/hoseung/Work/data/05427/GalaxyMaker/gal/tree_bricks187"
f = open(fn, "rb")

nbodies = read_fortran(f, np.dtype('i4'), 1)
massp = read_fortran(f, np.dtype('f4'), 1)
aexp = read_fortran(f, np.dtype('f4'), 1)
omegat = read_fortran(f, np.dtype('f4'), 1)
age = read_fortran(f, np.dtype('f4'), 1)
halnum, subnum = read_fortran(f, np.dtype('i4'), 2)
dtype_gal = [('np', '<i4'), ('galid', '<i4'), ('hhost', '<i4', (5,)),
            ('ang', '<f4', (3,)), ('m', '<f4'), ('mvir', '<f4'),
            ('r', '<f4', (4,)), ('energy', '<f8', (3,)),
            ('rvir', '<f4'), ('p', '<f4', (3,)),
            ('v', '<f4', (3,)), ('sp', '<f4')]

dtype_profile = [('rho_0', '<f4'), ('r_c', '<f4')]

tothal = halnum + subnum
data = np.recarray(tothal, dtype=dtype_gal)
profile = np.recarray(tothal, dtype=dtype_profile)

for i in range(tothal):
    nph = read_fortran(f, np.dtype('i4'), 1)
    data['np'][i] = nph
    pids = read_fortran(f, np.dtype('i4'), nph) # id list. 
    data['galid'][i] = read_fortran(f, np.dtype('i4'), 1)
    read_fortran(f, np.dtype('i4'), 1) #timestep
    data['hhost'][i][0:5] = read_fortran(f, np.dtype('i4'), 5)
    data['m'][i] = read_fortran(f, np.dtype('f4'), 1)
    data['p'][i][0:3] = read_fortran(f, np.dtype('f4'), 3)
    data['v'][i][0:3] = read_fortran(f, np.dtype('f4'), 3)
    data['ang'][i][0:3] = read_fortran(f, np.dtype('f4'), 3)
    data['r'][i][0:4] = read_fortran(f, np.dtype('f4'), 4)
    data['energy'][i][0:3] = read_fortran(f, np.dtype('f4'), 3)#energies
    data['sp'][i] = read_fortran(f, np.dtype('f4'), 1)
    sig, sigb, mb = read_fortran(f, np.dtype('f4'), 3)
    virials = read_fortran(f, np.dtype('f4'), 4)
    data['rvir'][i], data['mvir'][i] = virials[0:2]
    profile['rho_0'][i], profile['r_c'] = read_fortran(f, np.dtype('f4'), 2)
    nbin = read_fortran(f, np.dtype('i4'), 1)
    rr = read_fortran(f, np.dtype('f4'), nbin)
    rho = read_fortran(f, np.dtype('f4'), nbin) # wasted..

In [19]:
data['np']

array([2054426,   66958,  101730,   56215,   39669,   78748,  181272,
        114847,   37463,   56315,   90760,   33688,   24727,   50856,
        173276,   24670,     786,   53288,  126157,   75062,   43574,
        102832,   80432,   27985,     555,   28261,     660,    1233,
         35361,   14730,   12686,   26205,   25646,   23838,   30615,
         30649,   23631,    2198,   10522,   64090,    9521,   18017,
         21062,   18874,   30971,    3114,     495,   26437,   11666,
          3772,   13557,    1800,   90648,   10814,   16487,   20420,
         25218,   19009,   14044,     755,   24171,    8212,   21475,
         17166,    3390,   24949,   15885,   12661,     782,    8389,
          4121,   27548,   19938,    9778,   14911,   42373,    4809,
         26459,   14871,     300,   10749,    2533,    7550,   52034,
          8759,   22764,   14540,    9313,   94964,   66798,   15597,
         40507,   24926,   16731,   25859,    5468,   17997,   17664,
          2270,   12039,    1800,   34825,    1930,    4925,   13500,
         11710,    5073,    5438,    4656,    3648,   12549,   48328,
           827,    6794,   16021,    5462,     896,    8255,   12220,
          1686,    4825,    6396,   32836,    1739,    5251,   15471,
          9824,    1252,     877,    1215,     324,    4000,   11471,
          2123,    2516,     248,    8825,    1285,     216,    6393,
           308,    1958,    3949,    9199,   15095,    1924,    4057,
           551,    2389,    1748,    8887,     671,   38962,    2695,
          1825,    5758,    2530,    1650,     633,     900,    1924,
         10561,   10829,    8869,    1585,   17111,    1858,    1937,
          7584,     599,   14729,     367,    5353,   24676,    8602,
         13404,    7786,   10537,     235,    3995,    9232,     339,
           287,    4674,    1329,    5568,     993,    9345,     324,
          2024,    1741,    1775,    1160,    2657,    1113,    1002,
           445,    1771,    1277,    2864,    3772,    4541,     725,
          3738,    3335,     699,    1550,     836,    2746,    1435,
          2502,    3413,    5475,    1163,    3998,     244,    6037,
          1260,     661,    2583,    1671,    1861,    8685,    8692,
           739,    1543,     952,    1148,     932,    7233,    1357,
           276,    1565,    4129,     229,    4079,    1372,   13983,
          2328,     422,     869,    3130,     282,     563,    8120,
           473,     912,     410,    1148,     513,    8734,    1562,
          1713,     771,     542,    4571,    5558,     403,     552,
           525,     931,    2918,    1260,    6069,    1573,     315,
         40025,     264,     592,     306,    4814,    1393,    3163,
           229,     222,    8029,    1465,     873,     935,    1364,
          1806,     844,    2408,     395,    1927,     385,    6554,
           582,     252,     623,     217,     212,    2629,     201,
           227,    2394,    1131,    1549,     241,     656,    1182,
          1044,    3482,     511,     843,     384,     745,    2886,
           392,    1742,     454,    2507,     333,     876,    1993,
           372,    1474,     200,     213,     340,     544,     484,
          1123,     640,     495,     983,    4641,     211,    2142,
           776,     269,     560,    2227,     439,     293,    1929,
           276,    3706,    7681,     221,    1444,    2143,     360,
           836,     349,     462,     308,     979,    1478,     318,
          7676,   14293,    1748,     399,     311,    2831,     833,
          1355,     777,     886,    1292,    1718,   17058,   19287,
          4417,     909,    5942,     365,   23532,    1108,   51217,
          1743,     238,    5907,    2029, 1501960,    1015,   17955,
         61456,   11261,     233,     260,     893,     651,     418,
        129807,     328,    1375,    2241,   19354,     950,   19124,
         60548,    5095,     329,     814,    2136,     601,    5523,
         15125,    7308,    5961,    1231,    1033,     507,    1897,
         14734,    2474,   41044,     783,   45634,    6757,     203,
           607,   12127,    4425,  279145,     910,    2496,    4625,
          9535,    5894,    1127,  140086,     336,  118231,   14573,
          4553,    3972,    1930,   16486,     459,    9418,     362,
         14233,    2976,     491,   25934,    3717,    1194,    4234,
          1432,     983,     370,     303,   16385,     662,     621,
           972,     315,   11732,   20700,     961,   22256,     805,
           486,     563,     676,    1304,     651,   14057,    1133,
          2026,    1887,     770,    1532,     497,    2364,    1326,
          4299,    2662,    3470,     419,     812,    1483], dtype=int32)

In [11]:
    data['np'][i] = read_fortran(f, np.dtype('i4'), 1)
    pids = read_fortran(f, np.dtype('i4'), nph) # id list. 
    #pids = read_fortran(f, np.dtype('i4'), nph) # id list. 
    galid = read_fortran(f, np.dtype('i4'), 1)
    read_fortran(f, np.dtype('i4'), 1) #timestep
    level, host, sub, nsub, nextsub = read_fortran(f, np.dtype('i4'), 5)
    mass = read_fortran(f, np.dtype('f4'), 1)
    xx, yy, zz = read_fortran(f, np.dtype('f4'), 3)
    vx, vy, vz = read_fortran(f, np.dtype('f4'), 3)
    ax, ay, az = read_fortran(f, np.dtype('f4'), 3)
    r = read_fortran(f, np.dtype('f4'), 4)[0]
    read_fortran(f, np.dtype('f4'), 3)#energies
    sp = read_fortran(f, np.dtype('f4'), 1)
    sig, sigb, mb = read_fortran(f, np.dtype('f4'), 3)
    rvir, mvir = read_fortran(f, np.dtype('f4'), 4)[0:2]
    rho_0,rho_c = read_fortran(f, np.dtype('f4'), 2)
    nbin = read_fortran(f, np.dtype('i4'), 1)
    rr = read_fortran(f, np.dtype('f4'), nbin)
    rho = read_fortran(f, np.dtype('f4'), nbin)

In [12]:
nph

array([1483], dtype=int32)

In [9]:
rho

array([  1.03994621e+02,   9.18323746e+01,   7.38007355e+01,
         6.07760811e+01,   4.81730194e+01,   3.95351486e+01,
         3.10097618e+01,   2.44032860e+01,   2.07155056e+01,
         1.62880344e+01,   1.43288059e+01,   1.19010649e+01,
         9.14089108e+00,   7.74707460e+00,   6.63719654e+00,
         5.51804352e+00,   4.43158913e+00,   3.64656496e+00,
         3.03424120e+00,   2.45820642e+00,   2.09689832e+00,
         1.70392883e+00,   1.43452179e+00,   1.15032744e+00,
         1.03705227e+00,   7.41494715e-01,   6.77280664e-01,
         5.18361688e-01,   5.02765119e-01,   3.83069575e-01,
         2.88174391e-01,   1.99304283e-01,   1.59082696e-01,
         1.25671938e-01,   6.85076639e-02,   3.53694893e-02,
         1.21413404e-02,   1.18175708e-02,   7.67374784e-03,
         1.86986884e-03,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00], dtype=float32)

In [4]:
print(pids)

nph = read_fortran(f, np.dtype('i4'), 1)
print(f.tell())
#print(np.fromfile(f, np.dtype(np.int32), 1))
#np.fromfile(f, np.dtype(np.int16), 1)
#pids = np.fromfile(f, np.dtype(np.int32), nph)
pids = read_fortran(f, np.dtype('i4'), nph) # id list. 
print(pids)

pids2 = read_fortran(f, np.dtype('i4'), nph) # id list. 
print(f.tell())
galid = read_fortran(f, np.dtype('i4'), 1)
print(pids2)
print(galid)
print(f.tell())

[       2        4        7 ..., 11209993 11209994 11209995]
8218052
[1056964608 1069547520 1075838976 1080033280 1083179008 1085276160
 1087373312 1089470464 1091043328 1092091904 1093140480 1094189056
 1095237632 1096286208 1097334784 1098383360 1099169792 1099694080
 1100218368 1100742656 1101266944 1101791232 1102315520 1102839808
 1103364096 1103888384 1104412672 1104936960 1105461248 1105985536
 1106509824 1107034112 1107427328 1107689472 1107951616 1108213760
 1108475904 1108738048 1109000192 1109262336 1109524480 1109786624
 1110048768 1110310912 1110573056 1110835200 1111097344 1111359488
 1111621632 1111883776 1112145920 1112408064 1112670208 1112932352
 1113194496 1113456640 1113718784 1113980928 1114243072 1114505216
 1114767360 1115029504 1115291648 1115553793 1115750400 1115881472
 1116012544 1116143616 1116274688 1116405760 1116536832 1116667904
 1116798976 1116930048 1117061120 1117192192 1117323264 1117454336
 1117585408 1117716480 1117847552 1117978624 1118109696 1118240768
 1118371840 1118502912 1118633984 1118765056 1118896128 1119027200
 1119158272 1119289344 1119420416 1119551488 1119682560 1119813632
 1119944704 1120075776 1120206848 1120337920]
8218868
[1146634997 1145057988 1142727280 1140465325 1137187102 1134981170
 1133423329 1131391675 1129388729 1127705043 1126215950 1125010663
 1123991901 1122393605 1120882975 1119701619 1118321396 1117423641
 1116432984 1115658181 1114264003 1113094073 1112072025 1111038914
 1110221325 1109483806 1108949538 1108145039 1107524037 1106966818
 1105686080 1105171395 1104320209 1103649304 1103041986 1102257265
 1101952645 1101456711 1100891994 1100420573 1100075696 1099795028
 1099458319 1098991100 1098780803 1098122093 1097530020 1097261255
 1096677812 1096229031 1095894640 1095732643 1095101805 1095174930
 1094740897 1094621131 1094361676 1094085653 1093870699 1093673384
 1093343058 1093248890 1093009037 1092729171 1092720947 1092217543
 1092376812 1092163056 1092040338 1091854289 1091687800 1091736105
 1091450855 1091464189 1091147624 1091084610 1090940227 1090850536
 1090655591 1090562970 1089954837 1089904148 1089612487 1089107064
 1088822574 1088892574 1088536562 1088107254 1088100703 1088073530
 1087961382 1087472486 1087257064 1087059504 1086576004 1086371871
 1086184810 1086263717 1085840953 1085562124]
[66958]
8218880

In [21]:
print(f.tell())

OSError: Unexpected FORTRAN block length 0!=400

In [12]:
print("number of galaxies:", len(hgal.data))

number of galaxies: 475

In [ ]:
tt = tmtree.load(work_dir=wdir, filename="halo/TMtree.fits")



# plot individual galaxies.